/* ---------------------------------*\
    Reset css
\*--------------------------------- */

html,
body,
div,
span,
h1,
strong,
a,
ul,
li,
p,
form,
footer,
header {
  margin: 0;
  padding: 0 default;
  border: 0;
}

h1 {
  font-size: 3rem;
}

h1 {
  color: #2b5274;
}

ol,
ul {
  list-style: none;
  padding: 0 !important;
}

a {
  text-decoration: none !important;
}

/* ---------------------------------*\
    Update bootstrap
\*--------------------------------- */

:root {
  --bs-body-bg: #fde300 !important;
}
